p {
    margin: 0;
}

.Img{
  width: 50%;
}

.Card {
    background: white;
    border: solid 3px purple;
    border-radius: 10px;
}

.Card__img {
    text-align: center;
}

.Card__types {
    display: flex;
    justify-content: center;    
}

.Card__type {
    padding: 5px 10px;
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
    color: #fff;
}

.Card__name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
}

.Card__info {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
}

.Card__data {
    padding-bottom: 10px;
}

.Card__data .title {
    font-weight: 700;
}

.price {
  font-size: x-large;
  margin-left: 15px;
  color: purple;
}

.buy{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
}